.card {
    /* width: 20vw; */
    text-align: center;
}

.card > button {
    margin-bottom: 1rem;
    width: 15vw;
    margin-left: 3rem;
}



.card-body > img {
    width: 100%;
    margin-bottom: 1rem;
    height: 25vh;
    /* object-fit: cover; */
}

.card-list {
    margin: 2rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.card-header {
    background-color: black;
    color: white;
}